.popup-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* unnecessary styling properties */
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}

.popup-title {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}

.popup-content {
    position: relative;
    overflow: auto;
}

.popup-close {
    position: absolute;
    right: 16px;
    top: 11px;
    font-size: 10px;
    line-height: initial;
}